
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Brandzia</title>

    <!-- Favicon -->
    <link rel="icon" href="">
    
    <!-- Core Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="css/gallery-grid.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <style>
        p{
            font-family: 'Times New Roman', Times, serif;
        }
        .person {
          border: 10px solid transparent;
          margin-bottom: 25px;
          
          opacity: 1;
      }
      .person:hover {
          border-color: #f1f1f1;
      }
      .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

</style>
    
    
</head>

<body>
    <!-- Preloader 
    <div id="preloader">

        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="images/logo.jpg" alt="">
        </div>
    </div>-->

   

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">

                        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="services">Services</a>
                                </li>
                           
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="events">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact Us</a>
                                </li>
                            </ul>
                            <!-- Search Btn -->
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <!-- ***** Header Area End ***** -->

    <!-- ****** Welcome Area Start ****** -->
    <section class="caviar-hero-area" id="home">
        <!-- Welcome Social Info -->
        <div class="welcome-social-info">
            <a href="https://www.facebook.com/Brandzia-169483690666583/?modal=admin_todo_tour"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <!-- Welcome Slides -->
        <div class="caviar-hero-slides owl-carousel">
            <!-- Single Slides -->
            <div class="single-hero-slides bg-img" style="background-image: url(images/Home-Page-Brandzia.jpg); width: 100%;">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-sm-11 col-md-6 col-lg-4">
                            <div class="hero-content">
                                <!--<h2>Brandzia</h2>
                                <p>We are a one-stop-shop for comprehensive Retail Architecture, printing solutions and visual merchandising, covering the entire gamut of corporate requirements, encapsulating and Live events, R&R programmes, Merchandising and Retail Branding solutions. 
                                    Charting a spectacular growth over the years, today we have networking operations in every city in India to deal with our extensive and expanding business. 
                                    </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Nav -->
                <!--<div class="hero-slides-nav bg-img" style="background-image: url(images/img.jpg);"></div>
                -->
            </div>
            <!-- Single Slides -->
        </div>
    </section>
    <!-- ****** Welcome Area End ****** -->

    <!-- ****** About Us Area Start ****** -->
            <!-- About Us Single Area -->
            <!--<div class="row align-items-center ">
                
                <div class="col-12 col-md-6">
                    
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img src="images/img2.jpg" alt="">
                    </div>
                    
                </div>   
                <!--<div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                                    <img src="images/img3.jpg" alt="">
                                </div>-->
                     <section class="feature_area pad_top" id="about">	
                         
                        <div class="container">
                            <center>
                        <h2>About Us </h2>
                    </center>
                        <br>
                        <br>
                    <p>We are a one-stop-shop for comprehensive Retail Architecture, printing solutions and visual merchandising, covering the entire gamut of corporate requirements, encapsulating and Live events, R&R programmes, Merchandising and Retail Branding solutions.Charting a spectacular growth over the years, today we have networking operations in every city in India to deal with our extensive and expanding business. Verticals include Films, R&R, MICE, Manpower, Logistic Management and Experiential Marketing.</p>
                </div>
                </div>
                </section>
                
           <!-- </div>
            <div class="about-us-second-part">
                <div class="row align-items-center pt-200">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="about-us-content">
                            <span>Mission And Vision</span>
                            <p>As a company, we prefer a collaborative approach to design that encourages our clients to develop and hone their own style and taste. We provide value to our clients by discouraging short-lived trends, opting instead for quality and timelessness. The final design ensures a beautiful, comfortable, and most importantly a functional space for our clients. We recognize that the most important element in our designs is the people who use them in the end.</p>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 ml-md-auto">
                        <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                            <img src="images/img3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>



    <div class="container">	 
            <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="main_title">
                            <h3>Our Mission</h3>
                        <div class="card">
                        <div class="card-body"><p>To provide clients with solutions that are aesthetically appealing and conducive with corporate image in mind to achieve highest customer satisfaction possible.</p>
                </div>
                </div>       
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                    <div class="main_title">							
                       <h3>Our Vision</h3>
                        <div class="card">
                    <div class="card-body"><p>To provide best solution for customers who look for originality and unparalleled quality, through our continuous effort in innovation and creativity.</p> 
                </div>

            </div>
            </div>
            </div>
            </div>
            </div>

           
    <!-- ****** Dish Menu Area End ****** -->
    <section class="caviar-dish-menu" id="menu">
        
    <div class="container text-center gallery-container">
            <div class="row">
                    <div class="col-sm-12 menu-heading">
                        <div class="section-heading text-center">
                            <h2>Services</h2>
                        </div>
                        
                        <a href="services" class="btn caviar-btn"><span></span> View The Services</a>
                    </div>
            </div>
            
            <div class="row">
              <div class="col-sm-4">
                    <div class=" wow fadeInUp" data-wow-delay="0.5s">
                        <p class="text-center"><strong>Print Solution</strong></p><br>
                
                            <a href="services">
                       
                                <img src="images/Printing.png"  class="person"  alt="Random Name" style="width:200px;height:200px;" >
                              
                            </a>
                            
                    </div>
              </div>
              <div class="col-sm-4">
                    <div class=" wow fadeInUp" data-wow-delay="1s">
                <p class="text-center"><strong>Design</strong></p><br>
                <a href="services">
                    
                        <img src="images/Design.png" class=" person " alt="Random Name" style="width:200px;height:200px;">
                    
                </a>
                
                </div>
              </div>
              <div class="col-sm-4">
                    <div class=" wow fadeInUp" data-wow-delay="1.5s">
                <p class="text-center"><strong>Production</strong></p><br>
                <a href="services">
                    
                        <img src="images/Production.png" width="400px" height="50px" class="person" alt="Random Name" style="width:200px;height:200px;">
                        
                </a>
                
                    </div>
              </div>
            </div>

          </div>
        </section>
 
    <!-- ****** Awards Area Start ****** -->
   
    <section class="caviar-dish-menuu gallery-container" id="menu">
        
        <div class="container text-center gallery-container">
                <div class="row">
                        <div class="col-sm-12 menu-heading">
                            <div class="section-heading text-center">
                                <h2>Events</h2>
                            </div>
                            
                            <a href="events" class="btn caviar-btn"><span></span> View The Events</a>
                        </div>
                </div>
                
                <div class="row">
                  <div class="col-sm-4">
                    <div class=" wow fadeInUp" data-wow-delay="0.5s">
                    <p class="text-center"><strong>CORPORATE EVENTS </strong></p><br>
                    
                    <a href="#demo4" data-toggle="collapse">
                           
                                <img src="images/coporate event.png" class="person" alt="Random Name" style="width:200px; height:200px;" >
                                  
                    </a>
                    <div id="demo4" class="collapse">
                        <p>We specialize in conceptualization and execution of corporate events across the globe. We not only help you choose the right locations, but also take care of the logistics for your corporate conferences and events by organizing everything right from the venue, team building activities, catering, technical equipment, brand display to corporate gifting.</p>
                    </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                        <div class=" wow fadeInUp" data-wow-delay="1.5s">
                    <p class="text-center"><strong>Reward and Recognition</strong></p><br>
                    <a href="events">
                        
                            <img src="images/RR.png" class="person" alt="Random Name" style="width:200px; height:200px;">
                            
                    </a>
                    
                  </div>
                  </div>

                  <div class="col-sm-4">
                    <div class=" wow fadeInUp" data-wow-delay="1s">
                <p class="text-center"><strong>MICE</strong></p><br>
                <a href="events">
                    
                        <img src="images/Mice.png" class="person" alt="Random Name" style="width:200px; height:200px;" >
                    
                </a>
                
                </div>
              </div>
                </div>
    
              </div>
            </section>
            
    

            <div class="container gallery-container">
            
                <h1>Gallery</h1>
            
                <p class="page-description text-center">Brandzia</p>
                
                <div class="tz-gallery">
            
                    <div class="row">
                        
                        <div class="col-sm-6 col-md-6">
                            <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/8.jpg">
                                <img src="images/8.jpg" alt="Park">
                            </a>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class=" wow fadeInUp" data-wow-delay="0.5s">
                        <a class="lightbox" href="images/Untitled design.png">
                            <img src="images/Untitled design.png" alt="Tunnel">
                        </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class=" wow fadeInUp" data-wow-delay="0.5s">
                    <a class="lightbox" href="images/img4.jpg">
                        <img src="images/4.jpg" alt="Coast">
                    </a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class=" wow fadeInUp" data-wow-delay="0.5s">
                <a class="lightbox" href="images/6.jpg">
                    <img src="images/6.jpg" alt="Traffic">
                </a>
                </div>
            </div>

                        <div class="col-sm-6 col-md-6">
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/9.jpg">
                                <img src="images/9.jpg" alt="Bridge">
                            </a>
                            </div>
                        </div>
                       
                     
                        <div class="col-sm-6 col-md-6">
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/5.jpg">
                                <img src="images/5.jpg" alt="Rails">
                            </a>
                            </div>
                        </div>
                       
                        <!-- <div class="col-sm-6 col-md-4">
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/img6.jpg">
                                <img src="images/1.png" alt="Rocks">
                            </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/img7.jpg">
                                <img src="images/3.png" alt="Benches">
                            </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                                <div class=" wow fadeInUp" data-wow-delay="0.5s">
                            <a class="lightbox" href="images/img8.jpg">
                                <img src="images/3.jpg" alt="Sky">
                            </a>
                            </div>
                        </div> -->
                    </div>
            
                </div>
            
            </div>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
            <script>
                baguetteBox.run('.tz-gallery');
            </script>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        

    
    <!-- ****** Testimonials Area End ****** -->

    <!-- ****** Reservation Area Start ****** -->
    
    <!-- ****** Reservation Area End ****** -->
    <div class="container gallery-container">
            <div style="text-align:center">
              <h2>Contact Us</h2>
              <p>Swing by for a cup of coffee, or leave us a message:</p>
            </div>
            <div class="row">
           
              <div class="column col-md-8 col-md-offset-2">
                <form action="/enquiry" method="POST">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="name" placeholder="Your name..">
                  <label for="lname">Phone Number</label>
                  <input type="text" id="lname" name="number" placeholder="Your number..">

                  <label for="lname">Email</label>
                  <input type="text" id="lname" name="email" placeholder="Your email..">

                 <!-- <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                    <option value="india">India</option>
                  </select>-->
                  <label for="message">Enquiry</label>
                  <textarea id="subject" name="message" placeholder="Write something.." style="height:170px"></textarea>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
  
          <!-- <script>
          // Initialize google maps
          function myMap() {
            var myCenter = new google.maps.LatLng(26.2648,82.0727);
            var mapCanvas = document.getElementById("map");
            var mapOptions = {center: myCenter, zoom: 12};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position:myCenter});
            marker.setMap(map);
          }
          </script> -->
          <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk"></script> -->
          
          <!--
          To use this code on your website, get a free API key from Google.
          Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
          -->
          

    <!-- ****** Footer Area Start ****** -->
    <br>
    <br>
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="#" class="navbar-brand">Brandzia</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Brandzia | Designed by <a href="https://cybernauttech.com" target="_blank">CybernautTech</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->

    <!-- Jquery-2.2.4 js -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
    <script src="js/map-active.js"></script>
</body>
</html>
