
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Services</title>

    <!-- Favicon -->
    

    <!-- Core Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">


    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   

  <style>
    .collapsible {
      background-color: black;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      margin-top: 8%;
      outline: none;
      font-size: 15px;
      text-align: center;
    }
    
    .active, .collapsible:hover {
      background-color: #555;
    }
    
    .content {
      padding: 0 5px 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
      
    }
    </style>




</head>

<body>
    <!-- Preloader 
    <div id="preloader">
        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="images/logo.jpg" alt="">
           
        </div>
    </div>-->

  

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="services">Services</a>
                                </li>
                           
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="events">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">Contact Us</a>
                                </li>
                            </ul>
                            <!-- Search Btn -->
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area" style="background-image: url(images/Services.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-sm-12">
                    <div class="breadcumb-content">
                       <!-- <h2>Services</h2>-->
                       <!-- <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span> </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

   
   
   
   
    <section id="services">
            <div class="container wow fadeIn">
              <div class="section-header">
                <h3 class="section-title"><!--Services--></h3>
                <p class="section-description"></p>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                 
                    <div class="icon"><a href=""><img src="images/Printing.png"></a></div>
                    <button class="collapsible title">Print Solution</button>
                    <div class="content">
                    <p>Avoid the headaches and challenges inherent in managing your own network of print materials whether for marketing collateral, point-of-sale, store signage or channel support materials, each client partnership is designed to meet exact needs and business objectives. </p>
                        </div>
                        </div>
                    
                  
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                  
                    <div class="icon"><a href=""><img src="images/Design.png"></a></div>
                    <button class="collapsible title">Design</button>
                        <div class="content">
                        <p>Our design specialists offer support for all our channel partners.  We know that the greatest design challenges lie not only in delivering a brief but also in maintaining quality production. We help with 3ds Max rendering for building projects and concept development for interior branding. Our design team cooperates with yours, providing valuable input on branding buildings, exhibitions, events & promotions.</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                  
                    <div class="icon"><a href=""><img src="images/Production.png"></a></div>
                    <button class="collapsible title">Production</button>
                    <div class="content">
                    <p>We produce everything for all the projects, by collaborating with our business partners. This benefits our clients as we have complete control over quality and deadlines. It also allows us to innovate using unique solutions with wood, glass, metal and lighting.</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                  
                    <div class="icon"><a href=""><img src="images/Installation-Icon.png"></a></div>
                    <button class="collapsible title">Installation</button>
                    <div class="content">
                    <p class="description">Our installers have years of experience in overcoming challenges of any kind to deliver the project on time. The installation team works closely with our designers, meticulously implementing the initial project to meet and surpass our client’s expectations.</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            
                    <div class="icon"><a href=""><img src="images/Manpower.png"></a></div>
                    <button class="collapsible title">Manpower Solution</button>
                    <div class="content">
                    <p>We Provide Manpower in terms of Managing Ushers, Emcees ( M.C’s ), Hostesses, Host, Promoters,  Seminars, Events, Promotional Campaigns, Road Shows etc. Besides Complete Execution & Production of Events, exhibition, promotion and other activities in India. We offer grandees of people to suit your requirements in terms of quality and budget of Manpower.</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
               
                    <div class="icon"><a href=""><img src="images/Bartender.png"></a></div>
                    <button class="collapsible title">Bar Tendors</button>
                    <div class="content">
                    <p>We provide professionally trained and licensed bar staff for hire for all types of Tulsa events and weddings. Our talented bartenders have knowledge of how to prepare any drink, and they bring all of their bar equipment with them such as cocktail shakers, bottle pourers, bottle openers and corkscrews.</p>
                  </div>
                </div>
              
      

              
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                   
                      <div class="icon"><a href=""><img src="images/Artist.png"></a></div>
                      <button class="collapsible title">Artist</button>
                      <div class="content">
                      <p>We aim to provide you with the best National & International artist across the globe. We believe that our India is full of talent and skills. Talents from different places have their own importance.</p>
                    </div>
                  </div>
                

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                      
                          <div class="icon"><a href=""><img src="images/losgistic.png"></a></div>
                          <button class="collapsible title">Logistic Solution</button>
                          <div class="content">
                          <p>Our service is available round the clock understanding the client’s transportation needs, eliminating unnecessary costs and helping the customer to create optimal delivery solution. The client has wide options to choose between optimal delivery time, load size, delivery options</p>
                        </div>
                      </div>
                    

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            
                              <div class="icon"><a href=""><img src="images/coportateAV.png"></a></div>
                              <button class="collapsible title">Corporate AV’s</button>
                              <div class="content">
                              <p>We provide end-to-end marketing and sales materials such as Corporate Films, Sales Videos, Explainer Videos, Business Promo Films, Ad Films, Animation Videos and much more.</p>
                            </div>
                          </div>
                        </div>

            </div>

            <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                      content.style.display = "none";
                    } else {
                      content.style.display = "block";
                    }
                  });
                }
                </script>

          </section><!-- #services -->
      
   
<












   
    <!-- ***** Menu Area Start ***** -->

  <!--  <div class="caviar-food-menu section-padding-150 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="food-menu-title">
                        <h2>Services</h2>
                    </div>
                </div>

                <div class="col-sm-10">
                    

                    <div class="caviar-menu-slides owl-carousel clearfix">

                        <div class="caviar-portfolio clearfix">
                            
                          <!--  Single Gallery Item 

                            <div class="single_menu_item breakfast wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class=" col-md-4">
                                        <img src="images/img1.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Print Solution</h3>
                                        <p>Avoid the headaches and challenges inherent in managing your own network of print materials Whether for marketing collateral, point-of-sale, store signage or channel support materials, each client partnership is designed to meet exact needs and business objectives.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item breakfast dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="col-md-4" >
                                        <img src="images/img.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Design</h3>
                                        <p>Our design specialists offer support for all our channel partners.  We know that the greatest design challenges lie not only in delivering a brief but also in maintaining quality production. We help with 3ds Max rendering for building projects and concept development for interior branding. Our design team cooperates with yours, providing valuable input on branding buildings, exhibitions, events & promotions.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="col-md-4">
                                        <img src="images/capture3.jpg" alt="">
                                    </div>
                                    <div class=" col-md-8">
                                        <h3>Production</h3>
                                        <p>We produce everything for all the projects, by collaborating with our business partners. This benefits our clients as we have complete control over quality and deadlines. It also allows us to innovate using unique solutions with wood, glass, metal and lighting.</p>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class=" col-md-4">
                                        <img src="images/img5.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Installation</h3>
                                        <p>Our installers have years of experience in overcoming challenges of any kind to deliver the project on time. The installation team works closely with our designers, meticulously implementing the initial project to meet and surpass our client’s expectations.</p>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div  class="col-md-4">
                                        <img src="images/img6.jpg" alt="">
                                    </div>
                                    <div class=" col-md-8">
                                        <h3>Manpower Solution</h3>
                                        <p>We Provide Manpower in terms of Managing Ushers, Emcees ( M.C’s ), Hostesses, Host, Promoters,  Seminars, Events, Promotional Campaigns, Road Shows etc. Besides Complete Execution & Production of Events, exhibition, promotion and other activities in India. We offer grandees of people to suit your requirements in terms of quality and budget of Manpower.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="caviar-portfolio clearfix">
                            <!-- Single Gallery Item 
                            <div class="single_menu_item breakfast wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div  class="col-md-4">
                                        <img src="images/img7.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Bar Tendors</h3>
                                        <p>We provide professionally trained and licensed bar staff for hire for all types of Tulsa events and weddings. Our talented bartenders have knowledge of how to prepare any drink, and they bring all of their bar equipment with them such as cocktail shakers, bottle pourers, bottle openers and corkscrews.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item breakfast dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="col-md-4">
                                        <img src="images/img8.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Artist</h3>
                                        <p>We aim to provide you with the best National & International artist across the globe. We believe that our India is full of talent and skills. Talents from different places have their own importance. </p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item
                            <div class="single_menu_item lunch wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="col-md-4">
                                        <img src="images/img9.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Logistic Solution</h3>
                                        <p>Our service is available round the clock understanding the client’s transportation needs, eliminating unnecessary costs and helping the customer to create optimal delivery solution. The client has wide options to choose between optimal delivery time, load size, delivery options</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            <div class="single_menu_item dinner wow fadeInUp">
                                <div class="d-sm-flex align-items-center">
                                    <div class="col-md-4">
                                        <img src="images/img4.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>Corporate AV’s </h3>
                                        <p>We provide end-to-end marketing and sales materials such as Corporate Films, Sales Videos, Explainer Videos, Business Promo Films, Ad Films, Animation Videos and much more.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- Single Gallery Item 
                            
                        </div>

                        
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- ***** Menu Area End ***** -->
    <!--Carousel-->
    
      <!--  <div class="container">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
         
            <!-- Indicators -->

        <!--  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
            <li data-target="#myCarousel" data-slide-to="9"></li>
            <li data-target="#myCarousel" data-slide-to="10"></li>
            <li data-target="#myCarousel" data-slide-to="11"></li>
          </ol>-->
      
          <!-- Wrapper for slides -->

         <!-- <div class="carousel-inner">
            <div class="item active">
              <img src="images/instrumental.jpg" alt="instrumental" style="width:100%; height:500px;">
              <div class="carousel-caption">
                
                
              </div>
            </div>
      
            <div class="item">
              <img src="images/caricature.jpg" alt="Chicago" style="width:100%; height:500px;">
              <div class="carousel-caption">
                
                <p style="color: black"><strong>Caricature</strong></p>
              </div>
            </div>
          
            <div class="item">
              <img src="images/Stylist.jpg" alt="New york" style="width:100%; height: 500px;">
              <div class="carousel-caption">
                
                <p style="color: black"><strong>Stylist</strong></p>
              </div>
            </div>
            <div class="item">
                <img src="images/Dance.png" alt="dance" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color: black"><strong>Dancers</strong></p>
                </div>
              </div>
              <div class="item">
                <img src="images/singers.png" alt="SIngers" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color: black"><strong>Singers</strong></p>
                </div>
              </div>
              <div class="item">
                <img src="images/bands.jpg" alt="Chicago" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color: black"><strong>Bands</strong></p>
                </div>
              </div>
              <div class="item">
                <img src="images/dj.jpg" alt="Chicago" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color: black"><strong>DJ</strong></p>
                </div>
              </div>
              <div class="item">
                <img src="images/comedy.jpg" alt="Chicago" style="width:100%; height:500px;">
            
              </div>
              <div class="item">
                <img src="images/team.jpg" alt="Chicago" style="width:100%; height:500px;">
       
              </div>
              <div class="item">
                <img src="images/employee.jpg" alt="Chicago" style="width:100%; height:500px;">
             
              </div>
              <div class="item">
                <img src="images/mind.jpg" alt="Chicago" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color:brown"><strong>Mind Reader</strong></p>
                </div>
              </div>
              <div class="item">
                <img src="images/acrobat.jpg" alt="Chicago" style="width:100%; height:500px;">
                <div class="carousel-caption">
                  
                  <p style="color: black"><strong>Acrobat</strong></p>
                </div>
              </div>
          </div>-->
      
          <!-- Left and right controls -->
          
         <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>-->

    <!-- ***** Special Menu Area Start ***** -->
    <!--
    <section class="caviar-dish-menu clearfix" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-heading">
                    <div class="section-heading text-center">
                        <h2>Special</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                        <img src="img/menu-img/dish-1.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                            <p class="dish-price">$45</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                        <img src="img/menu-img/dish-2.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum</h6>
                            <p class="dish-price">$45</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                        <img src="img/menu-img/dish-3.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                            <p class="dish-price">$45</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- ***** Special Menu Area End ***** -->
    
        <!--
    <div class="container">
            <div class="row text-center"><br>
                <div class="col-md-4 col-sm-4">
                    <img src="http://placehold.it/150/ffa500/ffffff/?text=Service%201" alt="" class="img-circle img-thumbnail">
                    <h3>Instrumental</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="http://placehold.it/150/ffa500/ffffff/?text=Service%202" alt="" class="img-circle img-thumbnail">
                    <h3>Our Services</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="http://placehold.it/150/ffa500/ffffff/?text=Service%203" alt="" class="img-circle img-thumbnail">
                    <h3>Our Services</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
        </div>
    -->
    <!-- ***** Footer Area Start ***** -->
    <br>
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-text">
                        <a href="#" class="navbar-brand">Brandzia</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by Brandzia | Designed by <a href="http://cybernauttech.com/" target="_blank">CybernautTech</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area end ***** -->

    <!-- Jquery-2.2.4 js -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
    <script src="js/map-active.js"></script>
</body>
</html>